<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" th:href="@{/image/logoCaro.png}" type="image/x-icon">
    <title>Caro</title>
    <link rel="stylesheet" href="../static/style/profile.css">
    <link rel="stylesheet" th:href="@{../style/profile.css}">
</head>
<body>
<div class="portfoliocard">
  <div class="coverphoto"></div>
  <div class="profile_picture"></div>
  <div class="left_col">
    <div class="win">
      <p style="font-weight: bold; font-size: 20px">Win:</p>
      <div class="win_count">50</div>
    </div>
    <div class="lose">
      <p style="font-weight: bold; font-size: 20px">Lose:</p>
      <div class="lose_count">24</div>
    </div>
  </div>
  <div class="right_col">
    <h2 class="name">Nyal</h2>
    <ul class="contact_information">
        <form id="sign-in-form" action="/edit" method="post">
            <input class="rename" type="text" name="newname" placeholder="Nyal"/>
            <input class="change_pass" type="password" name="newpass" placeholder="******"/>
            <button class="save">Save</button>
        </form>
    </ul>
  </div>
</div>
</body>
</html>